<%= form_for(@project, html:{multipart:true}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	  <%= f.label :name %>
	  <%= f.text_field :name %>

	  <br><br>

	  <%= f.label :description, "put a description" %>
	  <%= f.text_area :description %>

	  <br><br>

	  <%= f.label :link %>
	  <%= f.text_field :link %>

	  <br><br>

	  <%= f.label :photo %>
	  <%= f.file_field :photo %>

	  <br><br>

	  <%= f.label :category %>
	  <%= f.text_field :category %>

	  <br><br>

  <%= f.submit %>

<% end %>
