<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<meta charset="utf-8">
		<title>Marcos Collado - Graphic Designer/FrontEnd dev</title>
	</head>
	<body>

		<h1 id=title>Projects</h1>
			<div id="post_wrap" class="skiny_wrap">
				<% @projects.each do |project| %>
					<div class="post">
						<h2 class="name"><%= project.name %> </h2>
						<p class="description"><%= project.description %> </p>
						<% if project.has_photo? %>
							<%= image_tag project.photo_path %>
						  <%else%>
							<p> aqui no hay nada zorra #<%=project.id%></p>
						<%end%>

						<p class="link"><%= project.link %> </h2>
						<p class="category"><%= project.category %> </p>
						<p class="date"><%= project.created_at.strftime('%A, %B %d') %> </p>
						<hr>
						<hr>
					</div>
					<% end %>
			</div>

	</body>
</html>
