<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
		<meta charset="utf-8">
		<title>Marcos Collado - Graphic Designer/FrontEnd dev</title>
	</head>
	<body>
		<div class="selector_container">
				<%= image_tag("web.svg",:alt => "web",:id => 'web') %>
				<%= image_tag("logo.png",:alt => "logoSolstice",:id => 'logo') %>
				<%= image_tag("logo.png",:alt => "logoSolstice",:id => 'logo') %>

		</div>

		<h1 id=title>Projects</h1>
			<div id="post_wrap" class="skiny_wrap">
				<% @projects.each do |project|  %>
						<div class="post">
							<h2 class="name"><%= project.name %> </h2>
							<p class="description"><%= project.description %> </p>

							<% if project.has_photo? %>
										<a href="projects/<%=project.id%>">
											<div class="img_container" style="background-image: url(/photo_store/<%=project.id%>.<%=project.extension%>)"></div>
										</a>
							<%else%>
								<p> theres no image in here </p>
							<%end%>

							<p class="category"><%= project.category %> </p>
							<p class="date"><%= project.created_at.strftime('%A, %B %d') %> </p>
							<hr>
						</div>
				<%end%>

			</div>

	</body>
</html>
